[submodule ".registry"]
	path = .registry
	url = https://github.com/kjhealy/universe
	branch = HEAD
[submodule "covdata"]
	path = covdata
	url = https://github.com/kjhealy/covdata
[submodule "covmobility"]
	path = covmobility
	url = https://github.com/kjhealy/covmobility
[submodule "gssr"]
	path = gssr
	url = https://github.com/kjhealy/gssr
[submodule "nycdogs"]
	path = nycdogs
	url = https://github.com/kjhealy/nycdogs
[submodule "socviz"]
	path = socviz
	url = https://github.com/kjhealy/socviz
[submodule "uscenpops"]
	path = uscenpops
	url = https://github.com/kjhealy/uscenpops
